/* .cd-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin-top: 1cm;
  padding: 14px;
} */
.cd-flex-content-container {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 4px;

  width: 180px;

  top: 81px;

  background: #09bbff;

  border: 1px solid #09bbff;
  border-radius: 10px;
  box-sizing: border-box;

  height: 84px;

  background: #09bbff;

  border: 1px solid #09bbff;
  border-radius: 10px;
}
.cd-currency-performance {
  font-family: "Lora";
  font-style: "normal";
  font-weight: 400;
  font-size: 18px;

  color: #ffffff;
}
.cd-currency-value {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;

  color: #e9ecef;
}
