.cd-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin-top: 1cm;
}
.cd-flex-container > div {
  margin-top: 30px;
  box-sizing: border-box;

  width: 156px;
  height: 60px;

  top: 80px;

  /* vivid blue */

  background: #09bbff;
  /* vivid blue */

  border: 1px solid #09bbff;
  border-radius: 10px;
}
.cd-currency-performance {
  position: absolute;
  width: 29px;
  height: 38px;

  top: 81px;

  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  /* or 19px */

  color: #ffffff;
}
.cd-currency-value {
  text-align: right;
  position: absolute;
  width: 113px;
  height: 29px;

  top: 85px;

  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */

  color: #ffffff;
}
