.cd-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin-top: 1cm;
  padding: 14px;
}
.cd-flex-content-container {
  margin-top: 30px;

  width: 200px;

  top: 81px;

  background: #09bbff;

  border: 1px solid #09bbff;
  border-radius: 10px;
  box-sizing: border-box;

  height: 80px;

  background: #09bbff;

  border: 1px solid #09bbff;
  border-radius: 10px;
}
.cd-currency-performance {
  margin-top: 4px;
  padding-bottom: 15px;
  padding-left: 4px;
  padding-right: 123px;
  position: absolute;
  width: 29px;
  height: 38px;

  top: 81px;

  font-family: "Lora";
  font-style: "normal";
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;

  color: #ffffff;
}
.cd-currency-value {
  text-align: right;
  position: absolute;
  width: 113px;
  height: 29px;
  padding-right: 4px;
  padding-left: 60px;
  padding-top: 18px;
  padding-bottom: 12px;

  top: 85px;

  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;

  color: #e9ecef;
}
