.cd-performance-wrap {
  display: flex;
  padding: 20px;

  flex-direction: row;
  justify-content: space-between;
}

.cd-mt-23 {
  margin-top: 23px;
}

@media screen {
  .cd_performance_wrap {
    max-width: 400px;
    margin-top: 30px;
  }
}
