
  .cd-accordion {
    width:260%;
    max-width: 500px;
    /* margin: 1.2rem auto;
    margin-top: 2%; */
  }
  
  .cd-accordion-title {
    display: flex;
    border: rgb(115, 118, 119) 1px;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #ebf2f3;
    border-style: groove;
  }
  
  .cd-accordion-title:hover {
    background-color: #b6dbe2;
  }
  
  .cd-accordion-title
   {
   
    padding: 1rem;
  }
  
  .cd-accordion-content {
    background-color: #e4d3ee;
    padding: 4px;
   
  }
  .container-1{
   margin: auto;
   max-width: 490px;
 }
  
  @media screen and (max-width: 480px) {
    body {
      font-size: 18px;
      margin:auto;
      margin-right:5%
    }
  
    .accordion {
      width: 90%;
      margin-top:'7%';
    }
  }