.start {
  position: fixed;
  width: 100%;
  height: 45px;
  left: 0px;
  top: 0px;
  background: #32c4fc;
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
}
