.cd-line-chart {
  /* border: 0.1rem solid #09bbff; */
  padding: 20px;
}
.cd-line-chart .cd-line-filter {
  float: right;
  display: block;
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .cd-line-chart {
    max-width: 600px;
  }
}
