.content {
  height: 100%;
}

.form-control {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

.form-control:focus {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #0b5ed7 !important;
}

.cf {
  flex: 0.5;
}
