.cd-button {
  padding: 8px 24px;
  background: #e0e0e0;
  border-radius: 20px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;

}

.cd-button-2 {
  width: 95px;
  height: 39px;
  background: #4461fc;
  color: #ffffff;
}
.cd-button-2:disabled {
  background: #e0e0e0;
  color: black;
}
.cd-button-1:disabled {
  background: #e0e0e0;
}
