.cd-mt-4 {
  margin-top: 4px;
}
.cd-mr-4 {
  margin-right: 4px;
}

.cd-pt-4 {
  padding-top: 4px;
}

.cd-p-4 {
  padding: 4px;
}

.cd-pr-4 {
  padding-right: 4px;
}
.cd-ml-4 {
  margin-left: 4px;
}
.cd-mt-8 {
  margin-top: 8px;
}
.cd-pt-8 {
  padding-top: 8px;
}

.cd-p-8 {
  padding: 8px;
}

.cd-pr-8 {
  padding-right: 8px;
}
.cd-ml-8 {
  margin-left: 8px;
}
.cd-mr-8 {
  margin-right: 8px;
}
.cd-mt-12 {
  margin-top: 12px;
}
.cd-pt-12 {
  padding-top: 12px;
}

.cd-p-12 {
  padding: 12px;
}

.cd-pr-12 {
  padding-right: 12px;
}
.cd-ml-12 {
  margin-left: 12px;
}
.cd-pl-12 {
  padding-left: 12px;
}
.cd-mt-14 {
  margin-top: 14px;
}
.cd-pt-14 {
  padding-top: 14px;
}

.cd-p-14 {
  padding: 14px;
}

.cd-pr-14 {
  padding-right: 14px;
}
.cd-ml-14 {
  margin-left: 14px;
}
.cd-mt-16 {
  margin-top: 16px;
}
.cd-pt-16 {
  padding-top: 16px;
}

.cd-p-16 {
  padding: 16px;
}

.cd-pr-16 {
  padding-right: 16px;
}
.cd-mb-27 {
  margin-bottom: 27px;
}
.cd-mt-19 {
  margin-top: 19px;
}
.cd-ml-24 {
  margin-left: 24px;
}
.cd-mt-17 {
  margin-top: 17px;
}
.cd-mb-23 {
  margin-bottom: 23px;
}
.cd-mb-25 {
  margin-bottom: 25px;
}
.cd-mt-10 {
  margin-top: 10px;
}
.cd-mt-5 {
  margin-top: 5px;
}
.cd-mb-6 {
  margin-bottom: 6px;
}
.cd-ml-39 {
  margin-left: 39px;
}
