.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.cd-app-continer {
  padding-top: 5px;
  height: calc(100% - 70px);
}
@media (max-width: 600px) {
  .cd-app-continer {
    padding-right: 14px;
    padding-left: 14px;
  }
}

.App-header {
  position: fixed;
  width: 2000px;
  height: 45px;
  left: 0px;
  top: 0px;
  background: #32c4fc;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
