/* p {
  color: red;
  font-size: 12px;
} */
.condition {
  color: black;

  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}
.form-control {
  outline: none;
  box-shadow: none;
  border: 1px solid rgba(233, 139, 16, 0.8);
}
.form-control:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid;
}

.container > form {
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}
.confirms {
  position: absolute;
  width: 124px;
  height: 39px;

  /* Gray88 */

  background: #e0e0e0;
  border-radius: 20px;
}
/* .ellipse {
  position: absolute;
  width: 32px;
  height: 32px;

  border-radius: 50%;
  background: #c4c4c4;
  margin-top: 30px;
} */
.line {
  width: 118px;
  height: 2px;
  margin-top: 45px;
  background: #c4c4c4;
  margin-bottom: 45 px;
}
