.cd-pie-chart {
  padding: 8px;
  border: 1px solid #09bbff;
}
@media screen {
  .cd-pie-chart {
    max-width: 345px;
  }
  @media (min-width: 360px) and (max-width: 768px) {
    .cd-pie-chart {
      margin-top: 6px;
    }
  }
}
